auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

limits_config:
  ingestion_rate_mb: 50
  ingestion_burst_size_mb: 200

# KRITIS: Konfigurasi Single Binary (Menghilangkan Consul)
common:
  replication_factor: 1
  path_prefix: /loki
  ring:
    kvstore:
      store: inmemory

# KRITIS: Konfigurasi Skema
schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

# Konfigurasi Storage Backend
storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    cache_ttl: 24h
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks

compactor:
  working_directory: /loki/compactor

# Konfigurasi Ingester
ingester:
  lifecycler:
    address: 127.0.0.1
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
    final_sleep: 0s
  max_transfer_retries: 0
  chunk_idle_period: 5m
  max_chunk_age: 5m
  chunk_retain_period: 1m
  chunk_target_size: 1048576
