receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  prometheus:
    endpoint: "0.0.0.0:9464"

  # Trace dikirim ke Tempo via OTLP gRPC
  otlp/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true

  # Log dikirim ke Loki via OTLP HTTP
  otlphttp/loki:
    endpoint: "http://loki:3100/otlp"
    tls:
      insecure: true

  debug:
    verbosity: detailed

processors:
  batch:

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [prometheus]

    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/tempo, debug]

    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/loki, debug]
