apiVersion: apps/v1
kind: Deployment
metadata:
  name: loki
spec:
  replicas: 1
  selector:
    matchLabels:
      app: loki
  template:
    metadata:
      labels:
        app: loki
    spec:
      containers:
        - name: loki
          image: grafana/loki:2.9.0
          args:
            - "-config.file=/etc/loki/local-config.yaml"
          ports:
            - containerPort: 3100
          volumeMounts:
            - name: loki-config
              mountPath: /etc/loki/local-config.yaml
              subPath: local-config.yaml
      volumes:
        - name: loki-config
          configMap:
            name: loki-config

---
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: monitoring
spec:
  type: ClusterIP
  selector:
    app: loki
  ports:
    - port: 3100
      targetPort: 3100
# ---
# apiVersion: v1
# kind: ConfigMap
# metadata:
#   name: loki-config
#   namespace: monitoring
# data:
#   local-config.yaml: |
#     auth_enabled: false
#     server:
#       http_listen_port: 3100
#     ingester:
#       lifecycler:
#         address: 127.0.0.1
#         ring:
#           kvstore:
#             store: inmemory
#     schema_config:
#       configs:
#         - from: 2020-10-24
#           store: boltdb-shipper
#           object_store: filesystem
#           schema: v11
#           index:
#             prefix: index_
#             period: 24h
#     storage_config:
#       boltdb_shipper:
#         active_index_directory: /loki/index
#         cache_location: /loki/cache
#       filesystem:
#         directory: /loki/chunks
#     limits_config:
#       ingestion_rate_mb: 10
#       ingestion_burst_size_mb: 20

# ---
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: loki-ingress
#   annotations:
#     kubernetes.io/ingress.class: nginx
# spec:
#   rules:
#     - host: loki.wandoor.my.id
#       http:
#         paths:
#           - path: /
#             pathType: Prefix
#             backend:
#               service:
#                 name: loki
#                 port:
#                   number: 3100
