apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      # Scrape metrics dari OTel Collector
      - job_name: "otel_collector"
        static_configs:
          - targets: ["otel-collector.monitoring.svc.cluster.local:9464"]

      # Scrape metrics dari Node Exporter di setiap VM
      - job_name: "node_exporters"
        static_configs:
          - targets:
              - "wandoor-worker-1" #vm worker 1
              - "wandoor-worker-2" #vm worker 1
              - "wandoor-db" #vm worker 1
              - "wandoor-master" #vm worker 1
      - job_name: "kube-state-metrics"
        static_configs:
          - targets: ["wandoor-master:32080"]
      - job_name: "cadvisor"
        static_configs:
          - targets:
              - "wandoor-db:9100"
              - "wandoor-worker-1:9100"
              - "wandoor-worker-2:9100"

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: prometheus
  namespace: monitoring
spec:
  serviceName: prometheus
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
            - name: prometheus-data
              mountPath: /prometheus
      volumes:
        - name: prometheus-config
          hostPath:
            path: /opt/lgtm/prometheus/prometheus.yml
            type: File
  volumeClaimTemplates:
    - metadata:
        name: prometheus-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: monitoring
spec:
  type: ClusterIP
  selector:
    app: prometheus
  ports:
    - port: 9090
      targetPort: 9090
# ---
# apiVersion: networking.k8s.io/v1
# kind: Ingress
# metadata:
#   name: prometheus-ingress
#   annotations:
#     kubernetes.io/ingress.class: nginx
# spec:
#   rules:
#     - host: prometheus.wandoor.my.id
#       http:
#         paths:
#           - path: /
#             pathType: Prefix
#             backend:
#               service:
#                 name: prometheus
#                 port:
#                   number: 9090
